<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.oogiyot.cheekdefender"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon"
  				 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
  				 
    				android:label="@string/app_name">
    	<receiver android:name="listener">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE"></action>
			</intent-filter>
		</receiver>
        <activity android:name=".defender"
        android:finishOnTaskLaunch="true"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:clearTaskOnLaunch="true"
                  android:launchMode="singleTask" >
            <intent-filter>
          		  
                 <category android:name="android.intent.category.DEFAULT" />
           		 <action android:name="com.oogiyot.cheekdefender.defender" />

                
            </intent-filter>
        </activity>
         <activity android:name=".About"
         android:clearTaskOnLaunch="true"
         android:finishOnTaskLaunch="true"
         android:noHistory="true"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask" >
            <intent-filter>
          		  
               
           		 <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>

    </application>


 <uses-sdk android:minSdkVersion="8" />
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 